mj-section(mj-class="bgT1")
    mj-column
        mj-image(padding="0" align="center" width="234px" src="./images/WhiteNetgearBusiness.png" alt="")/
        mj-text(padding="0" align="center" mj-class="cTW") Pour alimenter vos périphériques via Ethernet
mj-section(mj-class="bgW")
    mj-column
        mj-image(padding="0" align="center" width="275px" src="./images/GS305SP.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Switch Non Manageable
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 5 Ports Gigabit #[strong PoE+] (GS305P)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 64.99€ 48.99€
        mj-button J'en profite
    mj-column
        mj-image(padding="0" align="center" width="275px" src="./images/GS305.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Switch Non Manageable
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 5 Ports Gigabit (GS305)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 19.99€ 16.99€
        mj-button J'en profite
