mj-section(mj-class="bgT1")
    mj-column
        mj-image(src="./images/WhiteNetgearBusiness.png" alt="")/
        mj-text(padding="0" align="center" mj-class="cTW") Pour alimenter vos périphériques via Ethernet
mj-section(mj-class="bgW")
    mj-column
        mj-image(padding="0" align="center" src="./images/GS305SP.jpg" alt="")/
        mj-text(padding="0" align="center") Switch Non Manageable
        mj-text(padding="0" align="center") 5 Ports Gigabit PoE+ (GS305P)
        mj-text(padding="0" align="center") 64.99€ 48.99€
        mj-button J'en profite
    mj-column
        mj-image(padding="0" align="center" src="./images/GS305.jpg" alt="")/
        mj-text(padding="0" align="center") Switch Non Manageable
        mj-text(padding="0" align="center") 5 Ports Gigabit (GS305)
        mj-text(padding="0" align="center") 19.99€ 16.99€
        mj-button J'en profite
