mj-section
    mj-column
        mj-image(src="./images/WhiteNetgearBusiness.png")/
        mj-text Pour alimenter vos périphériques via Ethernet
mj-section
    mj-column
        mj-image(./images/GS305P.jpg)/
        mj-text Switch Non Manageable
        mj-text 5 Ports Gigabit PoE+ (GS305P)
        mj-text 64.99€ 48.99€
        mj-button J'en profite
    mj-column
        mj-image(./images/GS305.jpg)/
        mj-text Switch Non Manageable
        mj-text 5 Ports Gigabit (GS305)
        mj-text 19.99€ 16.99€
        mj-button J'en profite
