mj-section(mj-class="bgT1" padding="10px 50px")
    mj-column
        mj-image(padding="0" align="center" width="234px" src="./images/WhiteNetgearBusiness.png" alt="")/
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW" letter-spacing="2px") Pour alimenter vos périphériques via Ethernet
mj-section(mj-class="bgW")
    mj-column
        mj-image(padding="0" align="center" width="275px" src="./images/GS305SP.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Switch Non Manageable
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 5 Ports Gigabit #[strong PoE+] (GS305P)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 64.99€] #[strong(style="color:#00a3de;") 48.99€]
        mj-button J'en profite
    mj-column
        mj-image(padding="0" align="center" width="275px" src="./images/GS305.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Switch Non Manageable
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 5 Ports Gigabit (GS305)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 19.99€] #[strong(style="color:#00a3de;") 16.99€]
        mj-button J'en profite
