mj-section(mj-class="bgT1")
    mj-column
        mj-text(padding="0" align="center" mj-class="T30-500 cTW") ... et bien plus encore sur le store NETGEAR
        mj-button(mj-class="bgW cT1") Découvrir
mj-section(mj-class="bgW")
    mj-column
        mj-image(padding="0" src="./images/blackNetgear.png")/
    mj-column
        mj-spacer(height="20px")
    mj-column
        mj-social(padding="0" mode="horizontal")
            mj-social-element(src="./images/facebookIcon.png" alt="" href="#")
            mj-social-element(src="./images/twitterIcon.png" alt="" href="#")
            mj-social-element(src="./images/instagramIcon.png" alt="" href="#")
            mj-social-element(src="./images/youtubeIcon.png" alt="" href="#")
mj-section(mj-class="bgW")
    mj-column
        mj-text(padding="0" align="left") Vous recevez cet e-mail car vous avez choisi de recevoir des communications NETGEAR. Si vous ne souhaitez plus recevoir ces communications, vous pouvez vous désabonner
        mj-text(padding="0" align="left") Mettre à jour mon profil
        mj-text(padding="0" align="left") Cet emailing a été envoyé par : %%Member_Busname%%
        mj-text(padding="0" align="left") %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%
        mj-text(padding="0" align="left") NETGEAR France SAS, 2 rue de Marly, 78150 Le Chesnay
        mj-text(padding="0" align="left") Pour recevoir nos e-mails, ajoutez l'adresse emarketing@e.netgear.com à votre carnet d'adresses.
        mj-text(padding="0" align="left") Orbi et le logo NETGEAR sont des marques commerciales et/ou des marques déposées de NETGEAR, Inc. et/ou de ses filiales aux Etats-Unis et/ou dans d'autres pays. Les autres marques sont ici mentionnées à des fins d'identification uniquement et peuvent être des marques commerciales appartenant à leurs détenteurs respectifs. Les informations sont sujettes à changement sans préavis. ©2021 NETGEAR. Tous droits réservés.