mj-section(mj-class="bgT1")
    mj-column
        mj-text(padding="0" align="center" mj-class="cTW") Des prix promos pour célébrer le retour au travail
mj-section
    mj-column
        mj-image(padding="0" width="700px" src="./images/illustration.jpg")/
mj-section(mj-class="bgW")
    mj-column
        mj-text(padding="0" align="center") Restez productif avec Netgear
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Nos produits garantissent des connexions à des vitesses hauts débits et sécurisées qui vous permettent de rester productif dans toutes les situations.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Que vous soyez en conférence téléphonique, en train d'envoyer des e-mails ou de télécharger des fichiers volumineux, vous restez connecté à un WiFi stable et performant.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong Et pour célébrer le retour au travail, nous vous proposons des prix exceptionnels sur une sélection de produits].