mj-section
    mj-column
        mj-text Des prix promos pour célébrer le retour au travail
mj-section
    mj-column
        mj-image(src="./images/illustration.jpg")/
mj-section
    mj-column
        mj-text Restez productif avec Netgear
        mj-text Nos produits garantissent des connexions à des vitesses hauts débits et sécurisées qui vous permettent de rester productif dans toutes les situations.
        mj-text Que vous soyez en conférence téléphonique, en train d'envoyer des e-mails ou de télécharger des fichiers volumineux, vous restez connecté à un WiFi stable et performant.
        mj-text Et pour célébrer le retour au travail, nous vous proposons des prix exceptionnels sur une sélection de produits.