mj-section(mj-class="bgB")
    mj-column
        mj-image(padding="0" align="center" width="234px" src="./images/orbiPro.png")/
        mj-text(padding="0" align="center" mj-class="T25-300 cTW") Reprenez votre activité professionnelle avec un WIFI ultra-rapide pour votre TPE ou télétravail.
mj-section(mj-class="bgW" padding="0px" padding-bottom="20px")
    mj-column(padding="10px")
        mj-image(padding="0" align="center" width="275px" src="./images/SXK30.jpg")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi Pro WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong AX1800] (SXK30) Jusqu'à #[strong 250m #[sup 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 299.99€] #[strong(style="color:#00a3de;") 224.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgB") J'en profite
    mj-column(padding="10px")
        mj-image(padding="0" align="center" width="275px" src="./images/SXK30B3.jpg")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi Pro WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong AX1800] (SXK30B3) Jusqu'à #[strong 375m #[sup 2]]
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 399.99€] #[strong(style="color:#00a3de;") 299.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgB") J'en profite