mj-section(mj-class="bgT1" padding="10px 50px")
    mj-column()
        mj-image(padding="0" align="center" width="234px" src="./images/WhiteNetgearBusiness.png")/
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW" letter-spacing="2px") Pour étendre votre réseau à distance du routeur depuis n'importe quel espace.
mj-section(mj-class="bgW" padding="0px" padding-bottom="20px")
    mj-column(padding="10px")
        mj-image(padding="0" align="center" width="275px" src="./images/WAX202.jpg" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Point d'accès WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Dual Band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AX1800 (WAX202)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 99.99€] #[strong(style="color:#00a3de;") 84.99€]
        mj-spacer(height="20px")
        mj-button J'en profite
    mj-column(padding="10px")
        mj-image(padding="0" align="center" width="275px" src="./images/WAX214.jpg" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Point d'accès WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Dual Band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AX1800 (WAX214)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 119.99€] #[strong(style="color:#00a3de;") 101.99€]
        mj-spacer(height="20px")
        mj-button J'en profite
    mj-column(padding="10px")
        mj-image(padding="0" align="center" width="275px" src="./images/WAX204.jpg" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Point d'accès WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Dual Band
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AX1800 (WAX204)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 129.99€] #[strong(style="color:#00a3de;") 97.99€]
        mj-spacer(height="20px")
        mj-button J'en profite