mj-section
    mj-column
        mj-image(src="./images/WhiteNetgearBusiness.png")/
        mj-text Pour étendre votre réseau à distance du routeur depuis n'importe quel espace.
mj-section
    mj-column
        mj-image(src="./images/WAX202.jpg")/
        mj-text Point d'accès WiFi 6
        mj-text Dual Band
        mj-text AX1800 (WAX202)
        mj-text 99.99€ 84.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/WAX214.jpg")/
        mj-text Point d'accès WiFi 6
        mj-text Dual Band
        mj-text AX1800 (WAX214)
        mj-text 119.99€ 101.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/WAX204.jpg")/
        mj-text Point d'accès WiFi 6
        mj-text Dual Band
        mj-text AX1800 (WAX204)
        mj-text 129.99€ 97.99€
        mj-button J'en profite