mj-section(mj-class="bgT1")
    mj-column()
        mj-image(padding="0" src="./images/WhiteNetgearBusiness.png")/
        mj-text(padding="0" align="center" mj-class="cTW") Pour étendre votre réseau à distance du routeur depuis n'importe quel espace.
mj-section(mj-class="bgW")
    mj-column
        mj-image(padding="0" align="center" src="./images/WAX202.jpg")/
        mj-text(padding="0" align="center") Point d'accès WiFi 6
        mj-text(padding="0" align="center") Dual Band
        mj-text(padding="0" align="center") AX1800 (WAX202)
        mj-text(padding="0" align="center") 99.99€ 84.99€
        mj-button J'en profite
    mj-column
        mj-image(padding="0" align="center" src="./images/WAX214.jpg")/
        mj-text(padding="0" align="center") Point d'accès WiFi 6
        mj-text(padding="0" align="center") Dual Band
        mj-text(padding="0" align="center") AX1800 (WAX214)
        mj-text(padding="0" align="center") 119.99€ 101.99€
        mj-button J'en profite
    mj-column
        mj-image(padding="0" align="center" src="./images/WAX204.jpg")/
        mj-text(padding="0" align="center") Point d'accès WiFi 6
        mj-text(padding="0" align="center") Dual Band
        mj-text(padding="0" align="center") AX1800 (WAX204)
        mj-text(padding="0" align="center") 129.99€ 97.99€
        mj-button J'en profite