mjml
    //- Head
    mj-head
        mj-title Des prix promos pour célébrer le retour au travail
        mj-font(name='Source Sans 3' href='https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')
        mj-raw.
            <meta charset="UTF-8">
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='"Source Sans 3", Arial, Helvetica, sans serif')/
            mj-class(name='T32-300' font-family='"Source Sans 3", Arial, Helvetica, sans-serif' font-style="normal" font-size='32px' line-height='50px' font-weight='300')/
            mj-class(name='T25-300' font-family='"Source Sans 3", Arial, Helvetica, sans-serif' font-style="normal" font-size='25px' line-height='40px' font-weight='300')/
            mj-class(name='T30-500' font-family='"Source Sans 3", Arial, Helvetica, sans-serif' font-style="normal" font-size='30px' line-height='40px' font-weight='500')/
            mj-class(name='T26-500' font-family='"Source Sans 3", Arial, Helvetica, sans-serif' font-style="normal" font-size='26px' line-height='35px' font-weight='500')/
            mj-class(name='T17-500' font-family='"Source Sans 3", Arial, Helvetica, sans-serif' font-style="normal" font-size='17px' line-height='25px' font-weight='500')/
            mj-class(name='T12-400' font-family="Arial, Helvetica, sans-serif" font-style="normal" font-size='12px' line-height='13px' font-weight='400')/
            mj-button(padding="0" inner-padding="10px 10px" width="163px" border-radius="20px" font-family='"Source Sans 3", Arial, Helvetica, sans-serif' font-style="normal" font-size='16px' line-height='20px' font-weight='700' text-transform="uppercase")
            //- Black colors text
            mj-class(name="cT1" color="#2c262d")/
            mj-class(name="bgT1" background-color="#2c262d")
            mj-class(name="cT0" color="#000000")/
            mj-class(name="bg0" background-color="#000000")/
            mj-class(name="cTW" color="#ffffff")/
            mj-class(name="bgW" background-color="#ffffff")/
            //- Colors
            mj-class(name="cB" color="#00a3de")/
            mj-class(name="bgB" background-color="#00a3de")/
        mj-breakpoint(width="480px")
    //- Body
    mj-body(background-color='#f1f0f0' width="700px")
        //- content
        block content
        //- bloc header
        block header
            include ../includes/_header
        //- bloc Mesh Orbi pro
        block orbi pro
            include ../includes/_orbi
        //- bloc WiFi
        block wifi
            include ../includes/_wifi
        //- bloc Ethernet
        block ethernet
            include ../includes/_ethernet
        //- bloc footer
        block footer
            include ../includes/_footer